# Ignore node_modules and build artifacts
frontend/bloguer/node_modules/
frontend/bloguer/.next/
frontend/bloguer/.env

# Ignore Python virtual environment
backend/venv/

# Ignore Python bytecode and cache
*.pyc
__pycache__/

# Ignore PostgreSQL data
backend/postgres_data/

# Ignore other unnecessary files
*.db
*.sqlite3
*.log

# Ignore Django migration files
**/migrations/

# Ignore local development and IDE files
.vscode/

.git
.gitignore

Dockerfile
.dockerignore
docker-compose.yml

README.md