# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
local_settings.py
media/
staticfiles/

# Docker
*.env

# Environment files
.env

# Python
*.py[cod]
*.pyo
*.pyd
__pycache__/
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

